<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-12">
            <h1 *ngIf="!edicionRegistro">Añadir registros</h1>
            <h1 *ngIf="edicionRegistro">Editar registros</h1>
            <form class="form shadow-lg " (ngSubmit)="save()" [formGroup]="formGroup">
                <fieldset>
                    <div class="col">
                        <label for="nombre">Nombre</label>
                        <input type="text" class=" form-control"
                            id="nombre"
                            formControlName="nombre"
                        >
                    </div>
                    
                    <div class="col">
                        <label for="apellido">Apellido</label>
                        <input type="text" class=" form-control"
                            id="apellido"
                            formControlName="apellido"
                        >
                    </div>
                    <div class="col">
                        <label for="numeroIdentificacion">Comunidad Autonoma</label> 
                     <!--    <input type="text" class=" form-control"
                            id="numeroIdentificacion"
                            formControlName="numeroIdentificacion"
                        > -->
                        <select name="ddlNumeroIdentificaion" 
                        class=" form-control" id="numeroIdentificacion" (change)="gestionNumeroIdentificaion($event)"
                        formControlName="numeroIdentificacion">
                            <option value="">--- Seleccione Comunidad Autonoma ---</option>
                            <option value="AN">Andalucía</option>
                            <option value="AR">Aragón</option>
                            <option value="AS">Asturias</option>
                            <option value="IB">Baleares</option>
                            <option value="CN">Canarias</option>
                            <option value="CB">Cantabria</option>
                            <option value="CM">Castilla-La Mancha</option>
                            <option value="CL">Castilla y León</option>
                            <option value="CT">Cataluña</option>
                            <option value="CE">Ceuta</option>
                            <option value="VC">Comunidad Valenciana</option>
                            <option value="EX">Extremadura</option>
                            <option value="GA">Galicia</option>
                            <option value="MD">Madrid</option>
                            <option value="ML">Melilla</option>
                            <option value="MU">Murcia</option>
                            <option value="NA">Navarra</option>
                            <option value="PV">País Vasco</option>
                            <option value="RI">La Rioja</option>
                        </select>

                    </div>
                    <div class="col">
                        <label for="sexo">Sexo</label>
                       
                        <select class=" form-control" id="ddlSexoFrom" formControlName="sexo">
                            <option value="">--- Selecciona un Sexo ---</option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" class=" form-control"
                            id="fechaNacimiento"
                            formControlName="fechaNacimiento"
                        >
                    </div>
                    <div class="col">
                        <label for="hora">Hora de Nacimiento</label>
                        <input type="time" class=" form-control"
                            id="hora"
                            formControlName="hora"
                            >
                    </div>
                    
                    <div class="col">
                        <label for="monoparental">Familia monoparental</label>
                        <input type="checkbox" class=" form-check"
                            id="monoparental"
                            formControlName="monoparental"
                        >
                    </div>

                </fieldset>
                <div class=" col">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                    <button class="btn btn-danger" [routerLink]='["/registro"]'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>