/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~bootstrap-icons/font/bootstrap-icons.css";
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.bg-red-700{
  background-color: rgb(185 28 28);
}

.bg-green-600 {background-color: rgb(22 163 74);}

.bg-yellow-400 {background-color: rgb(250 204 21);}

.bg-blue-700 {background-color: rgb(29 78 216);}